* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --heigth: 56px;
    height: var(--heigth);
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    overflow: hidden;
}

.btn::before {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #c6e2fa;
    border-radius: 99px;
    transition: width 0.3s linear;
}

.btn:hover::before {
    left: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
select,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* === Header === */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-actions__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    padding: 8px 16px;
}

.navbar__link:hover,
.header-actions__link:hover {
    text-decoration: underline;
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-actions__btn {
    --height: 50px;
    height: var(--height);
}

/* === Hero === */
.hero {
    margin-top: 70px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
}

.hero__media--wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__pet {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__media--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    margin: 0 0 -58px -24px;
}
/* decorate */
.hero__decorate {
    position: absolute;
    left: -58px;
    bottom: 10px;
    z-index: -1;
}

.hero__decorate--right {
    position: absolute;
    top: 16px;
    right: -40px;
}

/* list */
.hero-list {
    position: absolute;
    left: 130px;
    bottom: -94px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.pet-04 {
    background: #c6e2fa;
}

.hero__title {
    font-family: Sora;
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.hero__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__skeleton--short {
    width: 40px;
}

.hero__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}
/* Hero content */
.hero__content {
    max-width: 518px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__heading {
    color: #000958;
    font-size: 6.4rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    max-width: 390px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.hero__book--btn {
    --height: 60px;
    height: var(--height);
    min-width: 190px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: none;
}

.hero__icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fd5056;
    line-height: 20px;
    background-color: #fff;
}

.hero__book--call {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}
