* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --heigth: 56px;
    height: var(--heigth);
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    overflow: hidden;
}

.btn::before {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #c6e2fa;
    border-radius: 99px;
    transition: width 0.3s linear;
}

.btn:hover::before {
    left: 0;
    width: 100%;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
select,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119.231%;
}

.section-desc {
    color: #656689;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 56px;
}

.dot {
    width: 7px;
    height: 7px;
    border: 1px solid #ff5b2e;
    border-radius: 50%;
}

.active {
    width: 21px;
    height: 7px;
    border-radius: 99px;
    background-color: #ff5b2e;
}

/* === Header === */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-actions__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    padding: 8px 16px;
}

.navbar__link:hover,
.header-actions__link:hover {
    text-decoration: underline;
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-actions__btn {
    --height: 50px;
    height: var(--height);
}

/* === Hero === */
.hero {
    margin-top: 70px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 90px;
}

.hero__media--wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__pet {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__media--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    margin: 0 0 -58px -24px;
}
/* decorate */
.hero__decorate {
    position: absolute;
    left: -58px;
    bottom: 10px;
    z-index: -1;
}

.hero__decorate--right {
    position: absolute;
    top: 16px;
    right: -40px;
}

/* list */
.hero-list {
    position: absolute;
    left: 130px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.pet-04 {
    background: #c6e2fa;
}

.hero__title {
    font-family: Sora;
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.hero__skeleton {
    margin-top: 7px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}
/* Hero content */
.hero__content {
    max-width: 518px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__heading {
    color: #000958;
    font-size: 6.4rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    max-width: 390px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.hero__book--btn {
    --height: 60px;
    height: var(--height);
    min-width: 190px;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fd5056;
    line-height: 20px;
    background-color: #fff;
}

.hero__book--link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}

/* === About === */
.about {
    margin-top: 100px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 184px;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 24px;
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    max-width: 446px;
    margin-top: 24px;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-top: 57px;
    gap: 36px;
}

.about__check-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

.about__check-item::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    display: inline-block;
    content: url(../icon/check.svg);
}

/* About Media */
.about__media {
    position: relative;
}

.about__card {
    padding: 30px 26px;
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card--title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 100%;
}

.about__card--deco {
    position: absolute;
    right: -32px;
    top: -39px;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__media--wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__media--wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media--img {
    display: block;
    width: 450px;
    margin: 0 auto;
}

.about__deco {
    position: absolute;
    top: 149px;
    right: -50px;
}

/* about__media bottom */
.about__media__wrap-bottom {
    position: relative;
    width: 485px;
    height: 500px;
    border-radius: 18px;
}

.about__media__wrap-bottom::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media--img-bottom {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 18px;
}

.about__deco-03 {
    top: 12px;
    right: 64px;
}

.about__deco-04 {
    top: -16px;
    right: 16px;
}

.about__deco-05 {
    top: 33px;
    right: -20px;
}

.about__deco-06 {
    top: 268px;
    right: -34px;
}

.about__deco-07 {
    top: 336px;
    right: 19px;
}

.about__deco-08 {
    top: 435px;
    right: -42px;
}

/* About content */
.about__content--bottom {
    margin-left: auto;
}

.about__heading--bottom {
    margin-top: 24px;
    max-width: 543px;
}

.about__desc--bottom {
    max-width: 510px;
}

.about__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 56px;
    margin-top: 52px;
}

.about__list::before,
.about__list::after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 2px;
    left: 0;
    bottom: -10px;
    border-radius: 99px;
}

.about__list::before {
    width: 95px;
    height: 2px;
    background: var(--primary-color);
}

.about__list::after {
    width: 100%;
    opacity: 0.07;
    background: var(--primary-color);
}

.about__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__item--title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.about__item--icon {
    width: 20px;
}

.about__content--desc {
    max-width: 391px;
    margin-top: 36px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.about__more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.about__more::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff5d31;
    border-radius: 99px;
}

/* === Services === */
.services {
    position: relative;
    z-index: 1;
    padding: 68px 0 100px;
    margin-top: 185px;
    background: #fff6ed;
}

.services__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
}

.services__heading {
    text-align: center;
    line-height: 1.19;
}

/* Services list  */
.services__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.services__item {
    margin-bottom: 24px;
    padding: 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__subheading {
    display: flex;
    align-items: center;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services__subheading::before {
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(
        90deg,
        var(--primary-color) 0.39%,
        #ffa187 100.29%
    );
    margin-right: 12px;
}

.services__content--desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.services__more {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.services__icon {
    margin-left: 6px;
}

.services__column--media {
    margin: 0 auto;
    text-align: center;
}

.services__media {
    position: relative;
}

.services__media::after {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__media--img {
    display: block;
    width: 447px;
    margin: 0 auto;
}

.services__btn {
    margin-top: 45px;
}

.services__cta--btn {
    min-width: 214px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* === Members === */
.members {
    padding: 30px 0;
    margin: 100px 0;
}

.members__label {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.members__heading {
    text-align: center;
    margin-top: 15px;
}

/* members__list */
.members__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 95px;
    text-align: center;
}

.members__avatar {
    position: relative;
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    margin: 0 auto;
}

.members__avatar--img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 129.5px;
}

.members__deco {
    position: absolute;
}

.members__deco--bottom {
    bottom: -16px;
    left: -16px;
}

.members__deco--top {
    top: -16px;
    left: -16px;
}

.members__item--desc {
    display: inline-block;
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.members__item--name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.members__cta {
    text-align: center;
    margin-top: 48px;
}

.members__cta--btn {
    min-width: 193px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: var(--primary-color);
    font-weight: 500;
}

/* === Princing === */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__heading {
    text-align: center;
}

.pricing__desc {
    margin: 24px auto 0;
    max-width: 709px;
    text-align: center;
}

/* Switch */

.pricing__switch-wrrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid #ff5b2e;
    user-select: none;
}

.pricing__switch-label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #ff5b2e;
    transition: width 0s linear;
}

.pricing__switch-input:checked + .pricing__switch-label::after {
    left: auto;
    right: 0;
    width: 131px;
    transition: width 3s linear;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.pricing__sale-of {
    position: absolute;
    right: -110px;
    bottom: 39px;
}

.pricing__switch--value:nth-child(2) {
    color: #fff;
}
.pricing__register {
    position: relative;
    text-align: center;
    --height: 56px;
    width: 276px;
    height: var(--height);
    margin: 38px auto 0;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__register--month {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 40px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__register--year {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 0;
    min-width: 131px;
    text-align: right;
    background: var(--primary-color);
    border: none;
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

/* Pricing-list */
.pricing__list {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}

.pricing__column {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px 43px;
}

.pricing__version {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__care-desc {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing__dola {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing__purchase {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__purchase:hover {
    color: #fff;
}

.pricing__service-row {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.pricing__service-desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

/* Review */
.review {
    padding: 53px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}

.review__control:hover {
    cursor: pointer;
}

.next {
    transform: rotate(180deg);
    margin-left: auto;
}

.review__inner-list {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review__item {
    display: flex;
    align-items: center;
    gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review__media {
    width: 274;
    flex-shrink: 0;
    border-radius: 137px;
}

.review__img {
    width: 100%;
    border-radius: inherit;
}

.review__heading {
    margin-top: 80px;
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119%;
}

.review__desc {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.56;
}

.review__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review__author::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    margin-right: 8px;
}

/*====== Blog ===== */
.blog {
    margin-top: 77px;
}

.blog__header {
    display: flex;
    align-items: center;
}

.blog__heading {
    white-space: nowrap;
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    margin-right: 512px;
}

.blog__desc {
    width: 350px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.blog__view {
    margin-top: 24px;
    width: 182px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog__item-media {
    border-radius: 24px;
    background: #90ccff;
    padding: 24px 0 0 36px;
}

.blog__item:nth-child(2) .blog__item-media {
    background: #ff997e;
}

.blog__item:last-child .blog__item-media {
    background: #5bd6e2;
}

.blog__item-date {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.22;
}

.blog__item-img {
    margin-top: 25px;
    display: block;
    width: 322px;
    height: 296px;
}

.blog__item-sub-heading {
    margin-top: 28px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55;
}

.blog__item-desc {
    width: 351px;
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.72;
}
