* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --heigth: 56px;
    height: var(--heigth);
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    overflow: hidden;
}

.btn::before {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #c6e2fa;
    border-radius: 99px;
    transition: width 0.3s linear;
}

.btn:hover::before {
    left: 0;
    width: 100%;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
select,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119.231%;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
}
/* === Header === */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-actions__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    padding: 8px 16px;
}

.navbar__link:hover,
.header-actions__link:hover {
    text-decoration: underline;
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-actions__btn {
    --height: 50px;
    height: var(--height);
}

/* === Hero === */
.hero {
    margin-top: 70px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 90px;
}

.hero__media--wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__pet {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__media--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    margin: 0 0 -58px -24px;
}
/* decorate */
.hero__decorate {
    position: absolute;
    left: -58px;
    bottom: 10px;
    z-index: -1;
}

.hero__decorate--right {
    position: absolute;
    top: 16px;
    right: -40px;
}

/* list */
.hero-list {
    position: absolute;
    left: 130px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.pet-04 {
    background: #c6e2fa;
}

.hero__title {
    font-family: Sora;
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.hero__skeleton {
    margin-top: 7px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}
/* Hero content */
.hero__content {
    max-width: 518px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__heading {
    color: #000958;
    font-size: 6.4rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    max-width: 390px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.hero__book--btn {
    --height: 60px;
    height: var(--height);
    min-width: 190px;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fd5056;
    line-height: 20px;
    background-color: #fff;
}

.hero__book--link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}

/* === About === */
.about {
    margin-top: 100px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 184px;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    max-width: 446px;
    margin-top: 24px;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-top: 57px;
    gap: 36px;
}

.about__check-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

.about__check-item::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    display: inline-block;
    content: url(../icon/check.svg);
}

/* About Media */
.about__media {
    position: relative;
}

.about__card {
    padding: 30px 26px;
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card--title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 100%;
}

.about__card--deco {
    position: absolute;
    right: -32px;
    top: -39px;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__media--wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__media--wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media--img {
    display: block;
    width: 450px;
    margin: 0 auto;
}

.about__deco {
    position: absolute;
    top: 149px;
    right: -50px;
}

/* about__media bottom */
.about__media__wrap-bottom {
    position: relative;
    width: 485px;
    height: 500px;
    border-radius: 18px;
}

.about__media__wrap-bottom::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media--img-bottom {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 18px;
}

.about__deco-03 {
    top: 12px;
    right: 64px;
}

.about__deco-04 {
    top: -16px;
    right: 16px;
}

.about__deco-05 {
    top: 33px;
    right: -20px;
}

.about__deco-06 {
    top: 268px;
    right: -34px;
}

.about__deco-07 {
    top: 336px;
    right: 19px;
}

.about__deco-08 {
    top: 435px;
    right: -42px;
}

/* About content */
.about__content--bottom {
    margin-left: auto;
}

.about__heading--bottom {
    max-width: 543px;
}

.about__desc--bottom {
    max-width: 510px;
}

.about__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 56px;
    margin-top: 52px;
}

.about__list::before,
.about__list::after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 2px;
    left: 0;
    bottom: -10px;
    border-radius: 99px;
}

.about__list::before {
    width: 95px;
    height: 2px;
    background: #ff5b2e;
}

.about__list::after {
    width: 100%;
    opacity: 0.07;
    background: #ff5b2e;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.about__item--icon {
    width: 20px;
}

.about__content--desc {
    max-width: 391px;
    margin-top: 36px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.about__more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.about__more::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff5d31;
    border-radius: 99px;
}
